In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r'C:\Users\user\Desktop\Grad\PY Modules\Loan.csv')

In [3]:
df.head(n=20)

,funded_amnt,emp_length,home_ownership,annual_inc,last_pymnt_amnt,mort_acc,int_rate,mo_sin_old_rev_tl_op,avg_cur_bal,acc_open_past_24mths,num_sats,loan_status
0,3600,10+ years,MORTGAGE,55000.0,122.67,1,13.99,128,20701,4,7,Fully Paid
1,24700,10+ years,MORTGAGE,65000.0,926.35,4,11.99,192,9733,4,22,Fully Paid
2,20000,10+ years,MORTGAGE,63000.0,15813.30,5,10.78,184,31617,6,6,Fully Paid
3,35000,10+ years,MORTGAGE,110000.0,829.90,1,14.85,87,23192,2,13,Current
4,10400,3 years,MORTGAGE,104433.0,10128.96,6,22.45,210,27644,10,12,Fully Paid
5,11950,4 years,RENT,34000.0,7653.56,0,13.44,54,2560,0,5,Fully Paid
6,20000,10+ years,MORTGAGE,180000.0,15681.05,4,9.17,306,30030,6,12,Fully Paid
7,20000,10+ years,MORTGAGE,85000.0,14618.23,3,8.49,55,17700,4,8,Fully Paid
8,10000,6 years,RENT,85000.0,1814.48,1,6.49,129,1997,7,14,Fully Paid
9,8000,10+ years,MORTGAGE,42000.0,4996.24,1,11.48,253,28528,5,8,Fully Paid
10,22400,6 years,MORTGAGE,95000.0,508.30,5,12.88,248,23514,9,16,Current
11,16000,1 year,MORTGAGE,70000.0,363.07,2,12.88,334,24167,3,13,Current
12,1400,3 years,MORTGAGE,64000.0,965.36,4,12.88,234,19159,4,17,Fully Paid
13,18000,7 years,RENT,150000.0,471.70,2,19.48,112,2014,7,18,Charged Off
14,28000,10+ years,MORTGAGE,92000.0,17093.51,2,6.49,379,13819,1,16,Fully Paid
15,9600,8 years,MORTGAGE,60000.0,3480.17,0,7.49,91,7912,2,7,Fully Paid
16,25000,10+ years,MORTGAGE,109000.0,20807.39,3,7.49,168,33976,2,9,Fully Paid
17,18000,10+ years,MORTGAGE,112000.0,18004.90,4,11.99,265,17089,5,16,Fully Paid
18,23000,5 years,RENT,64000.0,471.77,0,8.49,171,3549,3,21,Current
19,8650,8 years,RENT,55000.0,8251.42,0,19.89,95,1051,17,18,Fully Paid

In [4]:
df["home_ownership"] = df["home_ownership"].map({"MORTGAGE":6,"RENT":5,"OWN":4,"OTHER":3,"None":2,"ANY":1})
df["emp_length"] = df["emp_length"].replace({'years':'','year':'',' ':'','<':'','\+':'','n/a':'0'}, regex = True)
df["emp_length"] = df["emp_length"].replace('NaN', np.nan).fillna(0)
print("Current shape of dataset :",df.shape)

Current shape of dataset : (1551, 12)

In [5]:
data_with_loanstatus_sliced = df[(df['loan_status']=="Fully Paid") | (df['loan_status']=="Charged Off")]
di = {"Fully Paid":0, "Charged Off":1}   #converting target variable to boolean
Dataset_withBoolTarget= data_with_loanstatus_sliced.replace({"loan_status": di})
Loan_target = Dataset_withBoolTarget.iloc [:, -1]

In [6]:
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler ()
scaler.fit(df.drop('loan_status', axis =1))
scaled_features = scaler.transform(df.drop('loan_status', axis =1))
df_feat = pd.DataFrame(scaled_features, columns = df.columns [:-1])

In [7]:
x = df_feat
y = Loan_target

In [8]:
x
y

0       0
1       0
2       0
4       0
5       0
       ..
1546    0
1547    0
1548    0
1549    0
1550    1
Name: loan_status, Length: 1362, dtype: int64

In [9]:
x, y

(      funded_amnt  emp_length  home_ownership  annual_inc  last_pymnt_amnt  \
 0       -1.340482    1.097291        0.828332   -0.546132        -0.672667
 1        1.069399    1.097291        0.828332   -0.323120        -0.556055
 2        0.532601    1.097291        0.828332   -0.367722         1.604008
 3        2.245786    1.097291        0.828332    0.680434        -0.570049
 4       -0.563838   -0.756052        0.828332    0.556283         0.779223
 ...           ...         ...             ...         ...              ...
 1546    -1.066372   -1.550342        0.828332   -1.021593        -0.601938
 1547    -1.094925   -0.491289       -0.605533   -0.323120        -0.464642
 1548    -0.495311   -1.285579       -0.605533   -0.077807        -0.663780
 1549     2.245786    1.097291        0.828332    0.212109         2.725781
 1550     0.932344   -1.285579        0.828332   -0.824897        -0.619696

       mort_acc  int_rate  mo_sin_old_rev_tl_op  avg_cur_bal  \
 0    -0.424050  0.419966             -0.655456     0.318509
 1     1.063963 -0.037591              0.012379    -0.304220
 2     1.559967 -0.314414             -0.071100     0.938286
 3    -0.424050  0.616716             -1.083287     0.459941
 4     2.055971  2.355436              0.200208     0.712711
 ...        ...       ...                   ...          ...
 1546  1.063963 -0.037591             -0.655456    -0.686953
 1547  2.055971  0.827193              0.179338    -0.804254
 1548 -0.920054 -1.563547             -0.686760    -0.354411
 1549  2.055971  0.616716             -0.039795     0.139094
 1550 -0.920054  2.133521             -0.749370    -0.543705

       acc_open_past_24mths  num_sats
 0                -0.286970 -0.937108
 1                -0.286970  1.723598
 2                 0.326524 -1.114489
 3                -0.900464  0.127174
 4                 1.553513 -0.050206
 ...                    ...       ...
 1546              0.633272 -0.937108
 1547              1.553513  0.836696
 1548             -1.513958 -0.937108
 1549              0.019777  0.127174
 1550             -1.207211 -0.227587

 [1551 rows x 11 columns], 0       0
 1       0
 2       0
 4       0
 5       0
        ..
 1546    0
 1547    0
 1548    0
 1549    0
 1550    1
 Name: loan_status, Length: 1362, dtype: int64)